body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

#container{
    width: 50vw;
    height: 90vh;
    background-color: darkgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    border: 2px solid rgb(132, 131, 131);
}

#display{
    background-color: black;
    width: 90%;
    height: 5rem;
    margin: 3% 0;
    color: goldenrod;
    font-size: 4rem;
    display: flex;
    align-items: center;
    justify-content: end;
    border-radius: 5px;
    font-weight: 600;
}

#buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    flex: 1;
    padding-bottom: 3%;
}

#buttons button{
    width: calc(90% / 4);
    height: calc(90% / 4);
    font-family: 'Courier New', Courier, monospace;
    margin: 5px;
    font-size: 2rem;
    font-weight: 600;
    color: black;
    cursor: pointer;
}

.number{
    background-color: white;
}

.number:hover{
    background-color: lightgray;
}

.operator{
    background-color: lightgoldenrodyellow;
}

.operator:hover, #result{
    background-color: gold;
}

#result:hover{
    background-color: goldenrod;
}

#clear{
    background-color: pink;
}

#clear:hover{
    background-color: coral;
}
